.pokemon__list {
  list-style: none;
  padding: 0;
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media all and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.filter-error__container {
  padding: 0 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-error__text {
  text-align: center;
}

.filter-error__image {
  height: 120px;
  @media all and (min-width: 500px) {
    height: 180px;
    margin-top: 20px;
  }
}