@import 'stylesheets/poke-detail.scss';
@import 'stylesheets/poke-list.scss';
@import 'stylesheets/poke-card.scss';
@import 'stylesheets/header.scss';
@import 'stylesheets/filter.scss';
@import 'stylesheets/frame.scss';


body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  box-sizing: border-box;
  background-color: yellow;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.list__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__text {
  padding-top: 30px;
}